@font-face {
    font-family: myFont1;
    src: url(/fonts/2204.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.header_nav {
    height: 130px;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: rgb(19, 18, 18);
    align-items: center;
}

.header_nav a {
    text-decoration: none;
    color: white;
}

.header_nav a:hover {
    border-bottom: 5px solid red;
}

.item {
    margin-right: 55px;
    font-size: 17px;
    font-family: myFont1;  
}

.item:last-child {
    margin-right: 0;
}
// end header

.slider {
    position: relative;
    max-width: 1920px;
    height: 622px;
    margin: 0 auto;
    padding: 100px 0;
    box-sizing: border-box;
    background: url(/img/slider.jpg);   
}

.colored_squares {
    position: absolute;
    top: 25px;
    left: 66px;
    display: flex;
    flex-wrap: wrap;
    width: 242px;
}

.color {
    width: 100px;
    height: 100px;
    margin: 8px;
}

.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.blue {
    background-color: rgb(29, 117, 158);
}

.light_blue {
    background-color: rgb(91, 169, 233);
}

.red {
    background-color: rgb(199, 1, 1);
}

.light_red {
    background-color: rgb(247, 35, 28);
}

.links {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 75px 0px 39px 0px;
}

.style_links {
    width: 185px;
    height: 185px;
    transform: rotate(45deg);
    margin: -36px 116px 0px 0px;
    position: relative;
    background: rgba(309, 237, 308, 0.8);
}

.links :nth-child(3n+4) {
    margin-right: 0px;
}

.style_links img {
    transform: rotate(-45deg);
    position: absolute;
    left: -11px;
    top: 30px;
}

.style_links img:hover {
    transform: scale(1.3) rotate(-45deg);
}

.opasity {
    background: rgba(201, 215, 221, 0.6);
}
// end slider

.portfolio {
    box-sizing: border-box;
    outline: 1px solid black;
    margin: 0 auto;
    max-width: 1170px;
}