@font-face {
    font-family: myFont;
    src: url(/fonts/4536.ttf);
}

* {
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

.img_bread {
    width: 1671px;
    height: 939px;
    background: url(/img/bread.jpg) no-repeat center;
}

.header {
    margin: 0 auto;
    height: 70px;
    width: 1260px;
    color: white;
    letter-spacing: 7px;
}

.log {
    float: left;
    font-family: myFont;
    font-size: 32px;
}

.top-menu {
   display: flex;
   justify-content: space-around;
   position: relative;
   width: 800px;  
   left: 90px;
   top: 43px;
   font-size: 12px;
}

a {
    text-decoration: none;
    color: white;
}

.s_networks {
    float: right;
    
}